*{
    background-color: black;
    color: antiquewhite;
}
/*style for the body*/
body{
    text-align: center;
}
/*style for the head*/
h1{
    font-size: 100px;
}
/*style for the return value*/
h3{
    color: antiquewhite;
    font-size: 40px;
    font-style: italic;
}
/*style for the button*/
#button{
    background-color: black;
    color: antiquewhite;
    width: 80px;
    height: 40px;
    border: 2px solid gold;
    border-radius: 20px;
    position: relative;
    top: -8px;
    margin: 10px;
}

#button:hover{
    transform: scale(1.15);
    transition: .4s;
    background-color: gold;
    color: black;
    cursor: pointer;
}
/*style for the input*/
input{
    border: 2px solid gold;
    border-radius: 30px;
    font-size: 40px;
    height: 55px;
    text-align: center;
}

input:hover{
    transform: scale(1.05);
    transition: .4s;
    cursor: pointer;
}